server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/auth/**
            - Path=/api/users/**

eureka:
  client:
    service-url:
      defaultZone: http://registry-service:8761/eureka/
