server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:

        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
